.login-form {
  background-image: url(../../../images/Login/login-1.jpg);
  height: 950px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  background-color: white;
  width: 40%;
  padding: 15px 20px;
}

@media only screen and (max-width: 768px) {
  .form-container {
    width: 100%;
  }
  .login-form {
    height: 750px;
  }
}
