.App {
  text-align: center;
  overflow: hidden;
}
.pink-text {
  color: #0dcaf0;
}
.light-pink-text {
  color: #59d9f3;
}
.pink-btn {
  background-color: #0dcaf0;
  border: none;
  outline: none;
  border-radius: 50px;
  color: white;
  padding: 8px 25px;
}
.pink-bg {
  background-color: #0dcaf0;
}

.light-pink-bg {
  background-color: #0dcaf019;
}
.nav-item {
  text-decoration: none;
}
