.App {
  text-align: center;
  overflow: hidden;
}
.pink-text {
  color: #0dcaf0;
}
.light-pink-text {
  color: #59d9f3;
}
.pink-btn {
  background-color: #0dcaf0;
  border: none;
  outline: none;
  border-radius: 50px;
  color: white;
  padding: 8px 25px;
}
.pink-bg {
  background-color: #0dcaf0;
}

.light-pink-bg {
  background-color: #0dcaf019;
}
.nav-item {
  text-decoration: none;
}
.pagination {
  margin: 10px 50px 10px 0px;
}

.pagination button {
  margin: 0px 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(115, 115, 116);
}

.pagination .selected {
  background-color: rgb(37, 37, 39);
  color: white;
  border: none;
  outline: none;
}
